/* variables */
:root {
  --primary: #ffc636;
  --secondary: #0a0b5b;
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
}

/* reset */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
p,
a,
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

/* base styles */
body {
  background: var(--secondary);
  overflow-x: hidden;
  font-family: "Rubik Regular";
}

.button {
  background: none;
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
          box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  display: inline-block;
}

.button:hover {
  color: #222;
  background: var(--primary);
}

input,
textarea {
  background: rgba(255, 255, 255, 0.05);
  padding: 10px 16px;
  border-radius: 20px;
  border: 2px solid #9893db;
  color: #f2f2f2;
}

/* fonts */
@font-face {
  font-family: "Rubik Regular";
  src: url("assets/fonts/Rubik-Regular.ttf");
}

h1,
h2,
h3,
h4 {
  color: #dddbff;
  font-weight: normal;
}

p,
a,
li {
  color: #9893d8;
}

h1,
h3 {
  font-size: 1.2em;
}

h2 {
  font-size: 1.6em;
}

h4,
.leading {
  font-size: 1.1em;
}

/* mobile styles */
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}

.site-nav {
  margin: 0 20px;
}

.site-nav ul {
  display: none;
}

.site-nav h1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  grid-row: 1;
  padding-bottom: 10px;
  border-bottom: 3px solid var(--primary);
}

#welcome {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  gap: 10px;
  padding: 0 20px 20px 20px;
}

.welcome-text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
}

.welcome-img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.welcome-img img {
  width: 130%;
}

.welcome-text a {
  margin: 20px 0;
}

#portfolio {
  background: url(assets/square_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 30px 20px;
}

#portfolio h3 {
  margin-bottom: 0;
  text-align: center;
}

.projects a {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects a * {
  margin: 0 20px;
  max-width: 40%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.projects h4 {
  color: #9994f7;
}

#skills {
  padding: 30px 20px;
  background: #07083e;
}

#skills h3 {
  text-align: center;
}

#skills ul {
  margin: 40px 0;
}

#skills li {
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  /* Animation */
  grid-column: span 4;
  text-align: center;
}

.grid li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#skills img {
  height: 80px;
  margin: 10px auto;
}

.page-content {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  display: -ms-grid;
  display: grid;
  padding: 10px 20px;
}

.card {
  grid-column: span 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  border-radius: 5px;
  background-color: whitesmoke;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  -webkit-transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e), -webkit-transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(11.7%, rgba(0, 0, 0, 0.009)), color-stop(22.1%, rgba(0, 0, 0, 0.034)), color-stop(31.2%, rgba(0, 0, 0, 0.072)), color-stop(39.4%, rgba(0, 0, 0, 0.123)), color-stop(46.6%, rgba(0, 0, 0, 0.182)), color-stop(53.1%, rgba(0, 0, 0, 0.249)), color-stop(58.9%, rgba(0, 0, 0, 0.32)), color-stop(64.3%, rgba(0, 0, 0, 0.394)), color-stop(69.3%, rgba(0, 0, 0, 0.468)), color-stop(74.1%, rgba(0, 0, 0, 0.54)), color-stop(78.8%, rgba(0, 0, 0, 0.607)), color-stop(83.6%, rgba(0, 0, 0, 0.668)), color-stop(88.7%, rgba(0, 0, 0, 0.721)), color-stop(94.1%, rgba(0, 0, 0, 0.762)), to(rgba(0, 0, 0, 0.79)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e), -webkit-transform calc(var(--d) * 2) var(--e);
}

.card:nth-child(1):before {
  background-image: url("assets/galaxy-1-min.jpg");
}

.card:nth-child(2):before {
  background-image: url("assets/galaxy-2-min.jpg");
}

.card:nth-child(3):before {
  background-image: url("assets/galaxy-3-min.jpg");
}

.card:nth-child(4):before {
  background-image: url("assets/galaxy-4-min.jpg");
}

.content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem;
  -webkit-transition: -webkit-transform var(--d) var(--e);
  transition: -webkit-transform var(--d) var(--e);
  transition: transform var(--d) var(--e);
  transition: transform var(--d) var(--e), -webkit-transform var(--d) var(--e);
  z-index: 1;
}

.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}

.btn:hover {
  background-color: #0d0d0d;
}

.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.content {
  -webkit-transform: translateY(calc(100% - 4.5rem));
          transform: translateY(calc(100% - 4.5rem));
}

.content > *:not(.title) {
  opacity: 0;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
  -webkit-transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
  transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
  transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  transition: transform var(--d) var(--e), opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
}

.card:hover,
.card:focus-within {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card:hover:before,
.card:focus-within:before {
  -webkit-transform: translateY(-4%);
          transform: translateY(-4%);
}

.card:hover:after,
.card:focus-within:after {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.card:hover .content,
.card:focus-within .content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card:hover .content > *:not(.title),
.card:focus-within .content > *:not(.title) {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: calc(var(--d) / 8);
          transition-delay: calc(var(--d) / 8);
}

.card:focus-within:before, .card:focus-within:after,
.card:focus-within .content,
.card:focus-within .content > *:not(.title) {
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}

#contact {
  padding: 30px 20px;
  background: #080936;
}

#contact h3,
#contact p {
  text-align: center;
  margin-bottom: 0;
}

#contact form {
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}

#contact input,
#contact textarea {
  width: 100%;
  margin: 10px 0;
}

#contact .button {
  margin-top: 10px;
}

footer {
  padding: 30px 20px;
  background-color: #14153d;
  background: url(assets/footer_image.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: top center;
}

footer .copyright {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  font-size: 0.8em;
}

footer .social {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer li {
  margin: 0 6px;
}

footer img {
  width: 20px;
}

.modal-open {
  cursor: pointer;
  width: 75px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  background-color: #dddbff;
  color: #0a0b5b;
  padding: 6px;
}

.mask {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.modal {
  background: #dddbff;
  width: 300px;
  padding: 20px;
  border-radius: 4px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.modal > p {
  margin: 0 0 20px;
}

.mask.hidden {
  display: none;
}

.modal.hidden {
  -webkit-transform: translate(0, -1000px);
          transform: translate(0, -1000px);
}

/* small tablet styles */
@media screen and (min-width: 620px) {
  .welcome-text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
  .welcome-img {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5/9;
  }
  .welcome-img img {
    width: 100%;
  }
  .projects {
    margin-top: 40px;
  }
  .projects a {
    grid-column: span 4;
    display: block;
    margin: 20px 0;
  }
  .projects a:last-child {
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-column: 3/7;
  }
  .projects a * {
    max-width: 60%;
    margin: 10px 20%;
  }
  .projects h4 {
    text-align: center;
  }
  #skills {
    padding: 30px 100px;
  }
  footer {
    background-size: 20%;
  }
}

/* large tablets & laptop styles */
@media screen and (min-width: 960px) {
  body {
    font-size: 18px;
  }
  .grid {
    width: 100%;
    max-width: 1060px;
    margin: 20px auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .leading {
    margin: 20px 0;
  }
  .site-nav {
    padding: 0 20px;
  }
  .site-nav h1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .site-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-column: 6;
    -ms-grid-column-span: 3;
    grid-column: 6/9;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .site-nav li {
    margin-left: 20px;
  }
  .welcome-text {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #welcome {
    padding-bottom: 40px;
  }
  .projects a:nth-child(1) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
  .projects a:nth-child(2) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4/6;
    padding-top: 140px;
  }
  .projects a:nth-child(3) {
    -ms-grid-column: 6;
    -ms-grid-column-span: 2;
    grid-column: 6/8;
  }
  .projects a * {
    max-width: 80%;
    margin: 10x 10%;
  }
  #skills {
    padding: 30px 20px;
  }
  #skills ul {
    margin: 40px auto;
  }
  #skills li {
    grid-column: span 2;
  }
  footer {
    padding: 40px 20px;
    background-size: 25%;
  }
}

/* desktop styles */
@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
  #welcome,
  #portfolio,
  #skills,
  #contact {
    padding: 90px 0;
  }
  .projects a:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .projects a:nth-child(3) {
    -ms-grid-column: 7;
    -ms-grid-column-span: 2;
    grid-column: 7/9;
  }
  .projects a * {
    max-width: 100%;
    margin: 30px 0;
  }
  footer {
    padding: 80px 0;
    background-size: 30%;
  }
  footer img {
    width: 30px;
  }
}
/*# sourceMappingURL=style.css.map */